
  
<div class="text-center" data-ng-controller="userController as uctrl">    
  
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <h4><a href="#">{{uctrl.fetcheduser.fullname}}</a></h4>
        <img src="resources/img/avatar.png" class="img-circle" height="65" width="65" alt="Avatar">
        <br><br>
        <p>
          <span class="label label-default">{{uctrl.fetcheduser.role}}</span>
          <span class="label label-primary">{{uctrl.fetcheduser.isOnline}}</span>
          <div data-ng-if="$root.currentuser">
            <!-- <span class="label label-warning" ng-show="uctrl.checkFriendship()">Add as a friend</span> -->
            <span class="label label-warning">Friends</span>
          </div>          
        
      </div>
      <div class="well">
        <h3><a href="#"><strong>Bio</strong></a></h3>
        <p>{{uctrl.fetcheduser.user_bio}}</p>
        <br/><br/>
        <div data-ng-if="uctrl.fetcheduser.user_bio==''"><br/><br/><br/><br/></div>
      </div>
        <div class="well fade in">
       
        <h3><strong>Friends</strong></h3>
        <h4>90</h4>
      </div>
     
    </div>
    <div class="col-sm-8">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="well text-left">
            <div class="">
              <h3 style=" font-family:Lucida Sans Unicode , Lucida Grande, sans-serif " ><q>{{uctrl.fetcheduser.user_status}}</q></h3>
              
                 
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
   
    
    </div>




  </div>
</div>
