
  
<div class="text-center" data-ng-controller="userController as uctrl">    
  
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <h4><a href="#">{{uctrl.fetcheduser.fullname}}</a></h4>
        <img src="resources/img/avatar.png" class="img-circle" height="65" width="65" alt="Avatar">
        <br><br>
        <p>
          <span class="label label-default">{{uctrl.fetcheduser.role}}</span>
          <span class="label label-primary">{{uctrl.fetcheduser.isOnline}}</span>
          <div data-ng-if="uctrl.isLoggedIn"> <!-- Show Friend related options only if user is logged in -->
          	<div data-ng-if="$root.currentuser.accountstatus=='Valid'"> <!-- Logged in user must be verfied by Admin -->
	            <span class="label label-warning"  data-ng-show="uctrl.friendstatus=='Friends'">{{uctrl.friendstatus}}</span>
	            <a href="" class="label label-warning" data-ng-click="uctrl.sendRequest()" data-ng-show="uctrl.friendstatus=='Add As A Friend'">{{uctrl.friendstatus}}</a>
	          	<span class="label label-warning" data-ng-show="uctrl.friendstatus=='Awaiting Confirmation'">{{uctrl.friendstatus}}</span>
	          	<a href="" class="label label-warning" data-ng-click="uctrl.acceptRequest()" data-ng-show="uctrl.friendstatus=='Confirm Request'">{{uctrl.friendstatus}}</a>
	     	</div>
	      </div>          
        
      </div>
      <div class="well">
        <h3><a href="#"><strong>Bio</strong></a></h3>
        <p>{{uctrl.fetcheduser.user_bio}}</p>
        <br/><br/>
        <div data-ng-if="uctrl.fetcheduser.user_bio==''"><br/><br/><br/><br/></div>
      </div>
        <div class="well fade in" >
       
        <h3><strong>Friends</strong></h3>
        <h4>{{uctrl.fetcheduser.friendCount}}</h4>
        <br>
        
       
        
        
        
      </div>
     
    </div>
    <div class="col-sm-8">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="well text-left">
            <div class="">
              <h3 style=" font-family:Lucida Sans Unicode , Lucida Grande, sans-serif " ><q>{{uctrl.fetcheduser.user_status}}</q></h3>
              
                 
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
   
    
    </div>




  </div>
</div>
