
    <style>

input.ng-valid {
    border-color: seagreen;
}
input.ng-invalid.ng-touched
{
    border-color: red;
}
</style>

    <br><br>
    <div data-ng-controller="userController as ctrl">
        <div class="row">
            <div class="col-md-5">

                <form  method="post" accept-charset="utf-8" name="userForm" class="form" role="form">   
                <h3>Sign Up</h3>
                              
                                
                    <input type="text" name="fullname" value="" class="form-control input-lg" data-ng-model="ctrl.userDetails.fullname" placeholder="  Full Name"  required  />  
                    
                                        
                    <br>
                         
                    <input type="text" name="mobileno" value="" class="form-control input-lg" placeholder="  Mobile" data-ng-model="ctrl.userDetails.mobileno" required />  
                                         
                    <br>
                        
                    <input type="email" name="emailid" value="" class="form-control input-lg" data-ng-model="ctrl.userDetails.emailid" placeholder="  Email"  required />
                    <span data-ng-show="userForm.emailid.$valid==false&&userForm.emailid.$touched==true"> Invalid Email</span>
                    <br>
                    
                    <input type="password" name="password"  class="form-control input-lg" data-ng-model="ctrl.userDetails.password" placeholder="Password" required />
                     
                    <br>
                    
                    
                    <input type="password" name="confirm"  class="form-control input-lg passmatch" data-ng-model="confirm" placeholder="Confirm Password" required /> 
                     
                     <span data-ng-show="confirm!=ctrl.userDetails.password && userForm.confirm.$valid==true" style="color:red">Passwords dont match</span>
                    <br>

                    <select name="role" data-ng-model="ctrl.userDetails.role"  class="form-control input-lg " required >
                        <option value="" disabled selected>Please Choose..</option>
                        <option value="Student">Student</option>
                        <option value="Alumni">Alumni</option>
                    </select>
                    
                    <br>
                        

                    <button  data-ng-disabled="((userForm.$invalid))||((confirm!=ctrl.userDetails.password))" class="btn btn-lg btn-primary btn-block signup-btn" data-ng-click="ctrl.createUser(ctrl.userDetails)" type="submit">Create My Account</button><br>
                </form>          
            </div>
            
            
            
          
        </div>
    </div>            
