<div data-ng-controller="userController as uctrl" data-ng-init="userList=ctrl.fetchAllUser()"  >
	
	<br>
	<br>
	<div data-ng-repeat="i in uctrl.ulist ">
		<div class="col-sm-4 ">
			<a href="" data-ng-click="uctrl.goToUser(i.userId)"><img src="resources/img/avatar.png" name="aboutme" width="120" height="120" class="img-circle"></a>
			<h3>{{i.fullname}}</h3>
			
			<br>
			<br>
			
		</div>
	</div>
	
	<div  data-ng-if="uctrl.ulist==null">
		<h3>No users at the moment </h3>
	</div> 
	       
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>














